/* COMUNI */
.sidebar-right {
  display: block;
  overflow: visible;
}

/* sidebar cards */
.sidebar-card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 15px;
}

/* contenuto interno della card */
.sidebar-card-content {
  padding: 16px;
}

/* titoli */
.sidebar-card h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

/* testi */
.sidebar-card p {
  font-size: 12px;
  color: #666;
  margin-bottom: 12px;
}

/* ITEM */
/* avatar/logo + contenuto */
.sidebar-item {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* immagini avatar/logo */
.sidebar-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* avatar rotondi */
.round-avatar {
  border-radius: 50%;
}

/* CONTENT */
/* testo verticale + bottone */
.sidebar-content {
  display: flex;
  flex-direction: column;
}

/* bottoni */
.sidebar-card button,
.sidebar-content button {
  width: fit-content;
  border-radius: 20px;
  padding: 5px 12px;
  background-color: white;
  border: 1px solid gray;
  transition: 0.2s;
}

.sidebar-card button:hover,
.sidebar-content button:hover {
  background-color: #f3f3f3;
  border: 1.5px solid #444;
}

/* FOOTER AD */
/* card pubblicitaria finale */
.footer-ad {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
}

/* immagine pubblicità */
.footer-ad img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* LANGUAGE CARD */
/* titolo + icona matita */
.language-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MOSTRA TUTTO */
/* footer delle cards */
.show-all {
  margin-top: 10px;
  padding: 12px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  transition: 0.2s;
}

.show-all:hover {
  background-color: #f3f3f3;
}

/* pencil */
.pencil-icon {
  cursor: pointer;
  background-color: #f8f9fa;
}
.pencil-icon:hover {
  background-color: #d3d4d5;
}

.dark-mode .pencil-icon {
  background-color: rgba(112, 180, 249, 0) !important;
}
.dark-mode .pencil-icon:hover {
  background-color: rgba(112, 180, 249, 0.104) !important;
}

.matita:hover {
  color: black;
  cursor: pointer;
}

.matita {
  font-size: 20px;
}

.matita1 {
  cursor: pointer;
  background-color: rgba(237, 241, 245, 0.5);
}
.matita1:hover {
  background-color: white;
}

.dark-mode .matita1:hover {
  background-color: rgba(112, 180, 249, 0.104) !important;
}

.dark-mode .matita1 {
  background-color: rgba(112, 180, 249, 0) !important;
}

.dark-mode .matita1 {
  background-color: rgba(112, 180, 249, 0) !important;
}

/* language modal */
.language-modal-body {
  padding: 2rem;
}

.language-label {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.language-pill {
  display: inline-block;
  background-color: #eef3f8;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
