 
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f3f2ef; 
}


h5 {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
}


.text-muted {
  color: rgba(0, 0, 0, 0.6) !important;
}